.container {
    top: 45%;
    left: 70%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    width: 50%;
  }
  
  input,
  button {
    outline: none;
    border: none;
    height: 4rem;
  }
  input {
    padding-left: 1rem;
    width: 90%;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
  }
  
  button {
    width: 5rem;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    cursor: pointer;
  }

  
  @media screen and (max-width: 665px) {
    .container {
      left: 50%;
      width: 70%;
    }
  }