.headerImage {
    background-image: url("../../assets/stanford.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    height: 60vh;
    opacity: 0.9;
    background-color: black;
  }
  .container {
    top: 50%;
    left: 50%;
    padding-bottom: 20%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-shadow: 2px 2px 50px #202020;
  }
  .container h1,
  h2 {
    font-family: "roboto", sans-serif;
    color: var(--h1h2h3color);
  }
  
  .container h1 {
    font-size: 4rem;
  }
  .container h2 {
    font-size: 2rem;
  }
  
  @media screen and (max-width: 1200px) {
    .container {
      top: 40%;
    }
  }

  @media screen and (max-width: 665px) {
    .container {
      left: 50%;
      width: 100%;
      padding-left: 0;
      align-items: center;
    }
    .container h1 {
      font-size: 3rem;
    }
    .container h2 {
      font-size: 1rem;
    }
  }