.container {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    width: 50%;
    margin-top: 45px;
  }
  
  input,
  button {
    outline: none;
    border: none;
    height: 4rem;
  }
  input {
    padding-left: 2rem;
    width: 90%;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    font-size: 16px;
  }
  
  button {
    width: 6rem;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    cursor: pointer;
    font-size: 16px;
  }

  
  @media screen and (max-width: 665px) {
    .container {
      left: 50%;
      width: 70%;
    }
  }