* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  :root{
    --h1h2h3color: #ffffff;
    --background: #8f95a3;
    --cardBackground: #202446;
    --boxShadow: #75474d;
    --link: #7b8292;
    --saveButton: #a3425f;
    --countryInfo: #2a2b31;
    --infoBackground: #a9b1c0;
    --savedBackground: #778196;
    --savedCard: #43465f;
    --deleteButton: #776f6f;
  }